/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* FONTS */
/* weights */
/* COLORS */
html {
  font-family: "Fira sans", sans-serif;
}

h1 {
  font-size: 15rem;
  font-weight: 600;
}

h2 {
  font-size: 5rem;
  font-weight: 700;
}

h3 {
  font-size: 4.5rem;
}

p {
  font-weight: 200;
  line-height: 25px;
  font-size: 20px;
}

.yellow {
  color: #ffc83b;
}

.black {
  color: #000000;
}

.white {
  color: #ffffff;
}

.c-my-flooper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  white-space: nowrap;
}

.c-my-flooper__el {
  margin-right: 3rem;
}

/* Mixins */
/* Dot navigation */
.dot {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.25s ease-out;
  transition: background-color 0.25s ease-out;
  background-color: #000000;
}

.dot:hover {
  -webkit-transition: background-color 0.25s ease-out;
  transition: background-color 0.25s ease-out;
  background-color: #fdc73d;
}

@media (max-width: 550px) {
  .dot {
    height: 3rem;
    width: 3rem;
  }
}

body {
  overflow-x: hidden;
}

body .background {
  position: absolute;
  z-index: -1;
  overflow: hidden;
}

@media (max-width: 1000px) {
  body .background {
    font-size: 13rem;
  }
}

@media (max-width: 750px) {
  body .background {
    font-size: 9rem;
  }
}

@media (max-width: 550px) {
  body .background {
    font-size: 4rem;
    position: relative;
    margin-bottom: 1rem;
  }
}

body .container {
  padding: 2rem;
}

@media (max-width: 550px) {
  body .container {
    padding: 1rem;
  }
}

body .container .p-big {
  font-size: 4rem;
  line-height: 5rem;
  font-weight: 400;
}

@media (max-width: 1000px) {
  body .container .p-big {
    font-size: 3rem;
    line-height: 4rem;
  }
}

@media (max-width: 550px) {
  body .container .p-big {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

body .container .p-small {
  width: 70vw;
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 2rem;
}

@media (max-width: 1400px) {
  body .container .p-small {
    width: 80vw;
  }
}

@media (max-width: 1000px) {
  body .container .p-small {
    width: 90vw;
  }
}

@media (max-width: 750px) {
  body .container .p-small {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

@media (max-width: 550px) {
  body .container .p-small {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

body .bold {
  font-style: italic;
  font-weight: 700;
}

body .thin {
  font-style: italic;
  font-weight: 200;
}

body .dot {
  margin-bottom: 2rem;
}
/*# sourceMappingURL=articles.css.map */