@import "../resources/base";

body {
  overflow-x: hidden;

  .background {
    position: absolute;
    z-index: -1;
    overflow: hidden;

    @include desktop {
      font-size: 13rem;
    }

    @include tablet {
      font-size: 9rem;
    }

    @include phablet {
      font-size: 4rem;
      position: relative;
    }
  }

  .container {
    @include phablet {
      padding: 1rem;
    }

    .p-big {
      font-size: 4rem;
      line-height: 5rem;
      font-weight: $regular;

      @include desktop {
        font-size: 3rem;
        line-height: 4rem;
      }

      @include phablet {
        font-size: 2rem;
        line-height: 3rem;
      }
    }

    .p-small {
      width: 70vw;
      font-size: 2rem;
      line-height: 2.5rem;
      margin-bottom: 2rem;

      @include hd {
        width: 80vw;
      }

      @include desktop {
        width: 90vw;
      }

      @include tablet {
        font-size: 2rem;
        line-height: 2.5rem;
      }

      @include phablet {
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
  }

  .bold {
    font-style: italic;
    font-weight: $bold;
  }

  .thin {
    font-style: italic;
    font-weight: $light;
  }

  .dot {
    margin-bottom: 2rem;
  }
}
