body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  .questionmark {
    position: fixed;
    top: 0;
    opacity: 90%;
    z-index: 1000;
  }

  .dot {
    position: fixed;
    top: 0;
    height: 4rem;
    width: 4rem;
    margin: 1rem;
    background-color: #000000;
    border-radius: 50%;
    z-index: 2000;

    &:hover {
      background-color: #fdc73d;
    }
  }

  > div {
    display: flex;
    justify-content: center;
    height: 12.5vw;
    width: 100%;
    border-bottom: 1rem #fdc73d dotted;

    .c-my-flooper{
      position: relative; // [1] anything but static
      display: flex; // [1]
      flex-wrap: nowrap; // [1]
      white-space: nowrap; // [1]
    }
    
    .c-my-flooper__el{
      width: auto;
      height: 100%;
      margin-right: 4rem;
    }

    .special {
      width: 120%;
    }
  }

  .first {
    border-top: 1rem #fdc73d dotted;
  }
}