@import "../resources/base";

html {
  .container {
    display: flex;
    flex-direction: row;

    .title {
      height: 100vh;
      display: flex;
      flex: 3;

      h1 {
        position: fixed;

        align-self: center;
        width: 20rem;

        line-height: 112px;
        padding: 6rem;
      }
    }

    .rules {
      height: 100%;
      border-left: 5px solid $yellow;

      display: flex;
      flex-direction: column;
      flex: 6;

      overflow-y: scroll;

      .cell {
        height: 12vh;
        width: 100%;

        border-bottom: 5px solid $yellow;

        display: flex;
        flex-direction: column;

        &:hover {
          cursor: pointer;
        }

        .text {
          display: flex;
          align-items: baseline;
          padding: 1.5rem;

          h2 {
            margin-left: 0.5rem;
          }
        }

        .description {
          display: none;
          font-weight: $light;
          margin: 1rem 2rem;
        }
      }
    }
  }
}
