@import "../resources/base";

html {
  .hero {
    width: 100vw;
    height: 100vh;
    background-color: $yellow;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .dots {
      margin-top: -20rem;
      font-size: 25rem;
    }

    .name {
      text-align: center;
      margin-bottom: 5rem;

      h1 {
        font-weight: $extra-bold;
        font-size: 15rem;
      }
    }

    .magazine {
      font-weight: $light;
      font-size: 2rem;
    }
  }
  .container {
    display: flex;
    flex-direction: row;
    overflow: scroll;

    @include hd {
      flex-direction: column;
    }

    .title {
      height: 100vh;

      display: flex;
      justify-content: center;
      align-items: center;

      flex: 3;

      @include hd {
        height: 50vh;
        flex: none;
      }

      @include phablet {
        height: 100vh;
      }

      h1 {
        //position: fixed;
        width: 20rem;

        line-height: 112px;

        @include hd {
          position: initial;
          width: 80vw;
        }

        @include desktop {
          font-size: 4rem;
          line-height: 97px;
        }
      }
    }

    .rules {
      height: 100%;
      border-left: 5px solid $yellow;

      display: flex;
      flex-direction: column;
      flex: 7;

      @include hd {
        border-left: none;
        border-top: 5px solid $yellow;
      }

      .cell {
        display: flex;
        flex-direction: column;

        width: 100%;
        border-bottom: 5px solid $yellow;
        padding: 1.2rem 2rem;

        &:hover {
          cursor: pointer;
        }

        @include tablet {
          padding: 0.8rem 0;
        }

        .text {
          display: flex;

          h1 {
            text-align: right;

            @include desktop {
              font-size: 4rem;
            }

            @include tablet {
              font-size: 55px;
            }

            @include phablet {
              font-size: 45px;
            }

            .exp {
              font-size: 50px;

              @include desktop {
                font-size: 35px;
              }

              @include tablet {
                font-size: 25px;
              }

              @include phablet {
                font-size: 18px;
              }
            }
          }
        }

        .description {
          display: none;
          font-weight: $light;
          margin: 1rem 4.5rem;
        }
      }
    }
  }
  ::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
}
