/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* FONTS */
/* weights */
/* COLORS */
html {
  font-family: "Fira sans", sans-serif;
}

h1 {
  font-size: 15rem;
  font-weight: 600;
}

h2 {
  font-size: 5rem;
  font-weight: 700;
}

h3 {
  font-size: 4.5rem;
}

p {
  font-weight: 200;
  line-height: 25px;
  font-size: 20px;
}

.yellow {
  color: #ffc83b;
}

.black {
  color: #000000;
}

.white {
  color: #ffffff;
}

.c-my-flooper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  white-space: nowrap;
}

/* Mixins */
html .hero {
  width: 100vw;
  height: 100vh;
  background-color: #ffc83b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html .hero .links {
  margin-top: -20rem;
  font-size: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80vw;
}

html .hero .links .dot .point {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
  background-color: #000000;
}

html .hero .links .dot:hover {
  cursor: pointer;
}

html .hero .links .dot:hover .point {
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  background-color: #ffc83b;
}

html .hero .links .dot:hover .overlay {
  display: block;
  position: absolute;
  color: #ffffff;
  text-decoration: none;
  font-size: 5rem;
  font-weight: 800;
  margin: -10rem -4rem;
}

html .hero .links .text {
  display: none;
  position: absolute;
  width: 40vw;
  background-color: white;
  padding: 2rem;
  margin: -2rem -4rem;
  font-weight: 200;
  z-index: 3;
}

html .hero .links .overlay {
  display: none;
}

html .hero .links .overlay:active {
  background-color: black;
}

html .hero .name {
  text-align: center;
  margin-bottom: 5rem;
}

html .hero .name h1 {
  font-weight: 800;
}

html .hero .magazine {
  font-weight: 200;
  font-size: 2rem;
}
/*# sourceMappingURL=index.css.map */