/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* FONTS */
/* weights */
/* COLORS */
html {
  font-family: "Fira sans", sans-serif;
}

h1 {
  font-size: 15rem;
  font-weight: 600;
}

h2 {
  font-size: 5rem;
  font-weight: 700;
}

h3 {
  font-size: 4.5rem;
}

p {
  font-weight: 200;
  line-height: 25px;
  font-size: 20px;
}

.yellow {
  color: #ffc83b;
}

.black {
  color: #000000;
}

.white {
  color: #ffffff;
}

.c-my-flooper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  white-space: nowrap;
}

.c-my-flooper__el {
  margin-right: 3rem;
}

/* Mixins */
/* Dot navigation */
.dot {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.25s ease-out;
  transition: background-color 0.25s ease-out;
  background-color: #000000;
}

.dot:hover {
  -webkit-transition: background-color 0.25s ease-out;
  transition: background-color 0.25s ease-out;
  background-color: #fdc73d;
}

@media (max-width: 550px) {
  .dot {
    height: 3rem;
    width: 3rem;
  }
}

html .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 1400px) {
  html .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

html .container .dot {
  position: fixed;
  margin: 2rem;
}

@media (max-width: 1400px) {
  html .container .dot {
    position: absolute;
  }
}

html .container .title {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  overflow-y: hidden;
}

@media (max-width: 1400px) {
  html .container .title {
    height: 50vh;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
}

@media (max-width: 550px) {
  html .container .title {
    height: 100vh;
  }
}

html .container .title h2 {
  position: fixed;
  z-index: 4;
  width: 20rem;
}

@media (max-width: 1400px) {
  html .container .title h2 {
    position: initial;
    width: 80vw;
  }
}

@media (max-width: 1000px) {
  html .container .title h2 {
    font-size: 4.5rem;
    line-height: 5.5rem;
  }
}

@media (max-width: 550px) {
  html .container .title h2 {
    font-size: 3rem;
    line-height: 4rem;
  }
}

html .container .rules {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
  overflow: scroll;
}

@media (max-width: 1400px) {
  html .container .rules {
    border-top: 5px solid #000000;
  }
}

html .container .rules .cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  border-bottom: 5px solid #000000;
  padding: 1.2rem 2rem;
  background-color: #ffffff;
}

html .container .rules .cell:hover {
  cursor: pointer;
  background-color: #ffc83b;
}

html .container .rules .cell:hover .yellow {
  color: white;
}

@media (max-width: 750px) {
  html .container .rules .cell {
    padding: 0.8rem 0;
  }
}

html .container .rules .cell .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
}

@media (max-width: 1000px) {
  html .container .rules .cell .text .exp {
    font-size: 3rem;
  }
}

@media (max-width: 750px) {
  html .container .rules .cell .text .exp {
    font-size: 2.5rem;
  }
}

@media (max-width: 550px) {
  html .container .rules .cell .text .exp {
    font-size: 2rem;
  }
}

html .container .rules .description {
  display: none;
  font-weight: 400;
  margin: 2rem;
  width: 40vw;
}

@media (max-width: 1400px) {
  html .container .rules .description {
    width: 80vw;
  }
}

@media (max-width: 550px) {
  html .container .rules .description {
    margin: 1rem;
    font-size: 1rem;
  }
}

::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}
/*# sourceMappingURL=ways.css.map */