@import "../resources/reset";
@import "../resources/variables";

html {
  font-family: $fira;
}

h1 {
  font-size: 15rem;
  font-weight: $semi-bold;
}

h2 {
  font-size: 5rem;
  font-weight: $bold;
}

h3 {
  font-size: 4.5rem;
}

p {
  font-weight: $light;
  line-height: 25px;
  font-size: 20px;
}

.yellow {
  color: $yellow;
}

.black {
  color: $black;
}

.white {
  color: $white;
}

//[1] required
.c-my-flooper {
  position: relative; // [1] anything but static
  display: flex; // [1]
  flex-wrap: nowrap; // [1]
  white-space: nowrap; // [1]
}

.c-my-flooper__el {
  margin-right: 3rem;
}

/* Mixins */

@mixin phablet {
  @media (max-width: 550px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 750px) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: 1000px) {
    @content;
  }
}
@mixin hd {
  @media (max-width: 1400px) {
    @content;
  }
}
@mixin resolution($r) {
  @media (max-width: #{$r}) {
    @content;
  }
}
