@import "../resources/reset";
@import "../resources/variables";

html {
  font-family: $fira;
}

h1 {
  font-size: 80px;
  font-weight: $semi-bold;
}

h2 {
  font-size: 50px;
  font-weight: $bold;
}

p {
  font-weight: $light;
  line-height: 25px;
  font-size: 20px;
}

.yellow {
  color: $yellow;
}

.black {
  color: $black;
}

.white {
  color: $white;
}

/* Mixins */

@mixin phablet {
  @media (max-width: 550px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 750px) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: 1000px) {
    @content;
  }
}
@mixin hd {
  @media (max-width: 1400px) {
    @content;
  }
}
@mixin resolution($r) {
  @media (max-width: #{$r}) {
    @content;
  }
}
